params {
  work {
    fasta_file = '/hps/nobackup/pdbe/users/adamb/test_seg_gen/fasta_files/8kd1.fasta'
    outdir = '/hps/nobackup/pdbe/users/adamb/nfsifts_out'
    tmpdir = '/hps/nobackup/pdbe/users/adamb/nfsifts_out/tmp'
    db_file = '/hps/nobackup/pdbe/users/adamb/datasets/mmseqs_sp/sp.db'
  }

  tool {
    name = 'mmseqs'
    threads = 1
    memory = '8 GB'
  }
}

workDir = params.work.outdir + '/work'
log = params.work.outdir + '/.nextflow.log'